body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#searchBar {
  background-color: black;
  padding: 5px;
}

h3{
  margin-top: 10px;
  color: white;
}

h2 {
  color: #29a329;
}

#logo {
  width: 50px;
  height: 100%;
}

#banner {
  width: 1524px;
}

.btn {
  width: 250px;
  height: 100%;
  padding-right: 10px;
  margin-right: 10px;
  border-radius: 15px;
  float: right;

}

p {
  margin-left: 10px;
}

#discover {
  background-color: black;
}

#storeFronts {
  display: inline-block;
  height: 200px;
  padding: 10px;
  border-radius: 15px;
}

#bizDetail {
  border-style: solid;
  border-width: 3px;
  border-color: black;
}

#imageDetail {
  width: 370px;
  border-radius: 15px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  margin-top: 10px;
}

#eventsDetail{
  border-style: dashed;
  border-width: 1px;
  border-color: grey;
  margin-top: 10px;
  padding: 10px;
}

#aboutDetail{
  border-style: dashed;
  border-width: 1px;
  border-color: grey;
  margin-top: 10px;
  padding: 10px;
}

/*CALENDAR*/

#grid{
  background: silver;
  border: 2px solid;
  height: 50%;
  width: 50%;
}

#grid tr{
  border: 2px solid;
}

#grid td{
  height: 30px;
  width: 30px;
  height: 20px;
  border: 2px solid;
}
