<div class="container">
    <div ng-controller="CalendarController as vm">
      <h2 class="text-center">HLP Happenings</h2>

      <div class="row">

        <br class="visible-xs visible-sm">

      </div>
      <div class="row">
        <div class="col-md-4">
          <p>Today is {{vm.date | amDateFormat: 'dddd, MMMM Do YYYY'}}</p>
          <span style="float:right" class="glyphicon glyphicon-chevron-right" ng-click="vm.forwardMonth()"></span>
          <span style="float:left" class="glyphicon glyphicon-chevron-left" ng-click="vm.backMonth()"><h2 style="margin-left:70px" id="monthDisplay">{{vm.date | amDateFormat: 'MMMM YYYY'}}</h2></span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6" ng-model="vm.createCalendar" id="calDisplay">

        </div>
        <div id="eventDislayBox" class="col-md-6" style="clear:right">
          <h2>Events</h2>
          <p ng-repeat="events in vm.events">{{events.title}} - {{events.startDate}} - {{events.endDate}} - {{events.startTime}} - {{events.endTime}}</p>
          <ui-sref-active="active" ui-sref="newEvent">Add New Event!</a>
        </div>
      </div>

      <br>

    </div>
