<div class="container">
    <div ng-controller="CalendarController as vm">
      <h2 class="text-center">HLP Happenings</h2>

      <div class="row">

        <br class="visible-xs visible-sm">

        <div class="col-md-6">
          <div class="btn-group">
            <label class="btn-primary" ng-model="vm.calendarView" uib-btn-radio="'month'">Month</label>
            <label class="btn-primary" ng-model="vm.calendarView" uib-btn-radio="'week'">Week</label>
            <label class="btn-primary" ng-model="vm.calendarView" uib-btn-radio="'day'">Day</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          <p>{{vm.date | amDateFormat: 'dddd, MMMM Do YYYY'}}</p>
          <span class="glyphicon glyphicon-chevron-right" ng-click="vm.forwardMonth()"></span>
            <h2 id="monthDisplay">{{vm.date | amDateFormat: 'MMMM YYYY'}}</h2>
          <span class="glyphicon glyphicon-chevron-left" ng-click="vm.backMonth()"></span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6" ng-model="vm.createCalendar">

        </div>
        <div id="eventDislayBox" class="col-md-6" style="clear:right">
          <h2>Events</h2>
          <p ng-repeat="events in vm.bizEvents">{{events.title}} - {{events.startDate}} - {{events.endDate}} - {{events.startTime}} - {{events.endTime}}</p>
        </div>
      </div>

      <br>

    </div>
