<div class="row" id="discover" ng-controller="BusinessController as biz">
  <div class="col-xs-4 col-md-4" id="">
    <h2> DISCOVER</h2>
  </div>
  <div class="col-xs-4 col-md-4" id="4935york">
    <img class="btn" id="yorkbtn" src="images/York.jpg">
  </div>

  <div class="col-xs-4 col-md-4" id="figueroa">
    <img class="btn" id="figst" src="images/Fig.jpg">
  </div>
</div>

    <!-- storefront display -->
<div class="row" ng-controller="BusinessController as biz">
  <div class="container slider">
    <figure id="storeFronts" ng-repeat="businesses in biz.businesses"  ng-click="biz.showBusinessDetail($index)">
      <img  id="storeFronts" ng-src="{{businesses.storefront}}"/>
      <figcaption id="storeFrontAddress" >{{businesses.name}}</figcaption>
    </figure>
  </div>

    <div id="bizDetail" ng-if="biz.current" class="row">
      <div class="col-md-4">
        <img id="imageDetail" ng-src="{{biz.current.storefront}}" />
      </div>
      <div class="col-md-4">
        <h2>{{biz.current.name}}</h2>
        <br>
        <br>
        <span class="glyphicon glyphicon-time"></span>
          <p ng-repeat="day in biz.current.hours">{{day.day}} - {{day.times}}</p>
        <br>
        <br>
        <span class="glyphicon glyphicon-home"></span>
          {{biz.current.address}}
        <br>
        <br>
        <span class="glyphicon glyphicon-phone-alt"></span>
          {{biz.current.phone}}
        <br>
        <br>
        <span class="glyphicon glyphicon-globe"></span>
          <a href="{{biz.current.website}}">{{biz.current.website}}</a>
      </div>

      <div class="row" style="clear:both">
        <div class="col-md-4" id="inventoryDetail">
          <h4>What we Carry:</h4>
          <p ng-repeat="category in biz.current.categories">{{category.category}}</p>
          <img id="productImage" ng-src="{{category.image}}">
        </div>
        <div class="col-md-4">
          <div id="eventsDetail">
            <h4>Upcoming Events</h4>
            <p ng-repeat="events in biz.current.events">{{events.title}} - {{events.startDate}}</p>
          </div>
          <br>
          <div id="aboutDetail">
            <h4>About Us</h4>
            <p>{{biz.current.about}}</p>
          </div>

    </div>


    </div>
  </div>
    <a class="arrow prev" href="#" ></a>
    <a class="arrow next" href="#" ></a>
</div>



  </div> <!--end of first container-->
